@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,900&family=Nunito:wght@300&family=Poppins:wght@300&family=Preahvihear&family=Quicksand:wght@500&family=REM:wght@300&family=Rubik&family=Ubuntu:ital,wght@0,400;0,500;1,400&display=swap');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Quicksand', sans-serif; 
  color:rgb(244, 235, 241);
  justify-content: center;
 background-color: rgb(145, 92, 228);
}

.button{
  width: 66px;
  padding: 15px;
  margin: 0 2px;
  border: 3px solid rgb(249, 248, 248);
  border-radius: 20px;
  cursor: pointer;
 background-color: black;
  color: rgb(179, 128, 152);
  font-size: 20px;
}

.row{
  margin: 3px 0;
}
.row input{
  width: 291px;
  height: 50px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 3px solid rgb(252, 249, 249);
    border-radius: 20px;
   background-color: rgb(9, 9, 9);
    color: rgb(251, 249, 249);
    margin-bottom:10px ;
}

/*#eql{
  background-color: rgb(222, 17, 140);
  color: rgb(65, 7, 120);
}*/